<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sagre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Le Sagre che ci interessano</h1>
    {% for item in sagra_info %}
    <h2>{{ item['event'] }}</h2>
    <table>
        {% for key, value in item.items() %}
        <tr>
            <th>{{ key }}</th>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</body>

</html>